@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('../images/restoran2.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding-bottom: 10px;
    height: 25vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 100%;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    color: white; 
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker background color on hover */
}

.head-text {
    font-family: 'Playfair Display', serif;
    font-size: 50px; 
    font-weight: 700; 
    color: #9b9898; 
    text-align: center;
    letter-spacing: 2px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.content-text {
    font-size: 18px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px;
}